.profile__avatar-wrapper::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../../images/icon-pen.svg');
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center center;
  position: absolute;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
}

.profile__avatar-wrapper:hover::before {
  visibility: visible;
  opacity: 1;
}
