.popup__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/icon-close.svg");
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 580px) {
  .popup__close-icon {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
